services:
  web:
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:ro
      - ./nginx/dev-default.conf.example:/etc/nginx/conf.d/default.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
