.main {
	padding: 24px;
}

.breadcrumb {
	font-size: 13px;
	margin-bottom: 12px;
}

.contentRow {
	display: flex;
	gap: 24px;
}

.rightCol {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
